<h1>Booking Confirmation</h1>
<p>Dear <%= @booking.user.email %>,</p>
<p>Thank you for your booking!</p>
<p>Ticket ID: <%= @booking.ticket_id %></p>
<p>Booking ID: <%= @booking.id %></p>
<p>Enjoy the event!</p>
